In [9]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle    #used to save our trained model to the disk
import requests  #sends request to the server
import json      #print the result in our terminal

In [11]:
df1 = pd.read_csv(r"C:\Users\Monish Krishnan\Desktop\MAJOR PROJECT\cds2\Pkmeans3.csv")

In [12]:
df1["DayOT"] = df1["DayOT"].astype('category')
df1['DayOT'] = df1['DayOT'].cat.codes
dataframe = df1[['Beat', 'Arrest', 'Domestic', 'District', 'Crime_Date_Day', 'Crime_month', 'Year', 'DayOT', 'Labels']]

In [17]:
dataframe

,Beat,Arrest,Domestic,District,Crime_Date_Day,Crime_month,Year,DayOT,Labels
0,1022,1,1,10,3,5,2016,1,1
1,313,0,1,3,3,5,2016,1,1
2,1524,0,0,15,3,5,2016,1,1
3,1532,0,0,15,3,5,2016,1,1
4,1523,0,1,15,3,5,2016,1,1
5,631,0,0,6,3,5,2016,1,1
6,133,0,0,1,3,5,2016,1,1
7,215,0,0,2,3,5,2016,1,1
8,2432,0,0,24,3,5,2016,0,0
9,735,0,1,7,3,5,2016,1,1
10,334,1,0,3,3,5,2016,1,1
11,1834,1,1,18,3,5,2016,1,1
12,1232,0,0,12,3,5,2016,0,1
13,133,0,0,1,3,5,2016,2,2
14,1434,0,0,14,3,5,2016,1,1
15,831,0,1,8,3,5,2016,0,0
16,1424,0,0,14,3,5,2016,1,1
17,225,0,0,2,3,5,2016,1,1
18,2232,0,0,22,3,5,2016,1,1
19,222,0,1,2,3,5,2016,1,1
20,1424,0,0,14,3,5,2016,1,1
21,235,0,0,2,3,5,2016,0,0
22,1932,0,0,19,3,5,2016,1,1
23,1611,0,0,16,3,5,2016,1,1
24,1831,0,0,18,3,5,2016,1,1
25,2223,0,0,22,3,5,2016,2,2
26,1932,0,0,19,3,5,2016,1,1
27,915,0,0,9,3,5,2016,3,2
28,821,0,0,8,3,5,2016,3,2
29,613,0,0,6,3,5,2016,1,1
...,...,...,...,...,...,...,...,...,...
1456567,912,0,0,9,3,5,2016,1,1
1456568,1133,1,0,11,3,5,2016,1,1
1456569,726,0,0,7,3,5,2016,1,1
1456570,1135,0,1,11,3,5,2016,1,1
1456571,621,0,1,6,3,5,2016,1,1
1456572,621,0,0,6,3,5,2016,1,1
1456573,631,0,0,6,3,5,2016,1,1
1456574,314,0,0,3,3,5,2016,1,1
1456575,333,1,1,3,3,5,2016,1,1
1456576,1013,0,0,10,3,5,2016,1,1
1456577,611,0,0,6,3,5,2016,0,0
1456578,1423,1,0,14,3,5,2016,1,1
1456579,1822,0,1,18,3,5,2016,0,0
1456580,1022,1,0,10,3,5,2016,1,1
1456581,915,0,0,9,3,5,2016,1,1
1456582,322,0,0,3,3,5,2016,1,1
1456583,232,0,0,2,3,5,2016,2,2
1456584,831,0,0,8,3,5,2016,1,1
1456585,613,1,1,6,3,5,2016,1,1
1456586,2213,0,1,22,3,5,2016,1,1
1456587,815,0,0,8,3,5,2016,1,1
1456588,432,1,0,4,3,5,2016,1,1
1456589,831,1,0,8,3,5,2016,1,1
1456590,613,0,0,6,3,5,2016,1,1
1456591,2221,0,0,22,3,5,2016,1,1
1456592,1034,1,1,10,3,5,2016,1,1
1456593,731,1,1,7,3,5,2016,1,1
1456594,825,0,0,8,3,5,2016,3,2
1456595,423,0,1,4,3,5,2016,1,1
1456596,323,1,0,3,3,5,2016,1,1

In [30]:
m = dataframe.shape[0]
n = 5 #features
k = 3 #classes

X = np.ones((m,n + 1))
y = np.array((m,1))

X[:,1] = dataframe['Beat'].values
X[:,2] = dataframe['Crime_Date_Day'].values
X[:,3] = dataframe['Crime_month'].values
X[:,4] = dataframe['Year'].values
X[:,5] = dataframe['DayOT'].values
#X[:,6] = dataframe['District'].values

#labels
y = df1['Labels'].values

#Mean normalization
for j in range(n):
    X[:, j] = (X[:, j] - X[:,j].mean())

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [31]:
# training a DescisionTreeClassifier 
from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier(max_depth = 2).fit(X_train, y_train) 
dtree_predictions = dtree_model.predict(X_test)

In [32]:
pickle.dump(dtree_model, open('model.pkl','wb'))

In [33]:
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[313],[3],[5],[2016],[1]]))

ValueError: Number of features of the model must match the input. Model n_features is 6 and input n_features is 1

In [24]:
import numpy as np
from flask import Flask, request, jsonify
import pickle

In [25]:
app = Flask(__name__)
model = pickle.load(open('model.pkl','rb'))

In [28]:
@app.route('/api',methods=['POST'])
def predict():
    data = request.get_json(force=True)
    prediction = model.predict([[np.array(dataframe[['Beat','Crime_Date_Day','Crime_month','Year','DayOT']])]])
    output = prediction[]
    return jsonify(output)

SyntaxError: invalid syntax (<ipython-input-28-4e283db4cec2>, line 5)